#left{
    display: inline-block;
    width: 45%;
    margin: 2.5%;
}

#left * {
    text-align: center;
    margin: auto;
}

#left div *{
    display: inline-block;
}


#right{
    display: inline-block;
    width: 45%;
    margin: 2.5%;
}
#right * {
    text-align: center;
    margin: auto;
}

#right div *{
    display: inline-block;
}

.bottom {
    text-align: center;
}

.button {
    background-color: #ff8f00;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 10px;
    border: 2px solid #000000;
    display: block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    width: 150px;
    margin: 5px auto;
    text-align: center;
}

.button:hover {
    background-color: #ffab44;
}

.button:active {
    position: relative;
    top: 1px;
}

img {
    display: block;
    margin: 5px auto;
}

/* input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

.input{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;z-index: 200;
    }

.inputDiv{
    float: left; width: 27.33%; margin: 40px 3%; position: relative;
}

.input ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.4s;}
.input:focus ~ .focus-border,
.has-content.input ~ .focus-border{width: 100%; transition: 0.4s;}
.input ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: 1; letter-spacing: 0.5px;}
.input:focus ~ label, .has-content.input ~ label{top: -16px; font-size: 12px; color: #4caf50; transition: 0.3s;} */