<main>
  <!-- {{ }} is a binding: it refers to a value defined in the component (app.component.ts)
  https://angular.io/guide/template-syntax

  -->
  <h1>{{title}}</h1>

  <!-- To integrate a component in a super one: app-componentname -->
  <app-mycomponent></app-mycomponent>

  <!-- This may be useful for an app composed of several pages (eg: an init page and a board page...)
    See the Angular documentation related to routes:
  https://angular.io/guide/router
  -->
 <!-- <router-outlet></router-outlet> -->
</main>

