<h1>New Game</h1>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  Player 1 <br> Name : <input type="text" id="name1" class="form-control" name="name1" ngModel required><br>
  Player 2 <br>
  <input type="radio" name="P2type" value="AI" ngModel>AI<br>
  <input type="radio" name="P2type" value="Human" ngModel>Human<br>

  <div *ngIf="!player2isAI(f)">
    Name : <input type="text" id="name2" class="form-control" name="p2name" ngModel required>
  </div>


  <div *ngIf="player2isAI(f)">
    Difficulty :
    <select  name="difficulty" size="1" ngModel required>
      <option>NOOB</option>
      <option>STARTING</option>
      <option>PROGRESSIVE</option>
    </select>
  </div>

  Scenario :
  <select  name="scenario" size="1" ngModel required>
    <option>STANDARD</option>
    <option>RANDOM</option>
    <option>EAU</option>
  </select>
  <br>
  <button type="submit">Launch</button>

</form>
