<!-- LOAD GAME -->
<div>

  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let g" (click) = "cellClick(g)">{{g.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="p1">
      <mat-header-cell *matHeaderCellDef>Player 1</mat-header-cell>
      <mat-cell class="p1-cell"
                *matCellDef="let g">{{g.p1.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="p2">
      <mat-header-cell *matHeaderCellDef>Player 2</mat-header-cell>
      <mat-cell class="p2-cell"
                *matCellDef="let g">{{g.p2.name == null ? g.p2.difficulty+" AI" : g.p2.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nbTurn">
      <mat-header-cell *matHeaderCellDef>Turn(s) played</mat-header-cell>
      <mat-cell class="nbTurn-cell"
                *matCellDef="let g">{{g.nbTurn}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nbMoves">
      <mat-header-cell *matHeaderCellDef>Move(s) played</mat-header-cell>
      <mat-cell class="nbMoves"
                *matCellDef="let g">{{g.actions.length}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="winner">
      <mat-header-cell *matHeaderCellDef>Winner</mat-header-cell>
      <mat-cell class="winner-cell"
                *matCellDef="let g">{{g.winner === 'NONE' ? '-' : g.winner}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>
  
  <a routerLink="/menu"><button style="margin: 10px 0" type="submit">Go Back</button></a>
</div>