<div class="panel">
  {{data.storage.p1.name}} vs {{data.storage.p2.name == null ? data.storage.p2.difficulty+" AI" : data.storage.p2.name}}
   -- Turn {{data.storage.nbTurn + 1}} ({{this.nbMoves}} move(s))
   --
  <button (click)="saveGame()">Save</button>
  <button (click)="goMenu()">MENU</button>
  --
  <button (click)="clickUndo()" [disabled]="!isWon()"><</button>
  <button (click)="clickRedo()" [disabled]="!isWon()">></button>
</div>

<div class="player" id="p2">{{data.storage.p2.name == null ? data.storage.p2.difficulty+" AI" : data.storage.p2.name}}</div>


<div class='board'>
  <div class='line' #tiles *ngFor="let y of [7,6,5,4,3,2,1]">
    <div
         class='tile' #tiles *ngFor="let x of [1,2,3,4,5,6,7]"
         [attr.data-x]=x
         [attr.data-y]=y
         (click)="clickTile($event)"
         (contextmenu)="clearAll()">
    </div>
  </div>
  <div
       (contextmenu)="clearAll()"
       (click)="clickPiece($event)"
       class="piece" #pieces *ngFor="let p of data.storage.board.pieces"
       [style.left.px]="(p.x-1) * 80"
       [style.top.px]="((8-p.y)-1) * 80"
       [style.border]="'12px solid '+p.color"
       [attr.data-x]=p.x
       [attr.data-y]=p.y
       >
  </div>

  <div class='ball' #ball
       [style.left.px]="(data.storage.board.currentBlackHolder.x-1) * 80  "
       [style.top.px]="((8-data.storage.board.currentBlackHolder.y)-1) * 80"
       [style.background]="data.storage.board.currentBlackHolder.color"
       [attr.data-x]=data.storage.board.currentBlackHolder.x
       [attr.data-y]=data.storage.board.currentBlackHolder.y
       (click)="clickBall($event)"
       (contextmenu)="clearAll()"
  >
  </div>


  <div class='ball' #ball
       [style.left.px]="(data.storage.board.currentWhiteHolder.x-1) * 80  "
       [style.top.px]="((8-data.storage.board.currentWhiteHolder.y)-1) * 80"
       [style.background]="data.storage.board.currentWhiteHolder.color"
       [attr.data-x]=data.storage.board.currentWhiteHolder.x
       [attr.data-y]=data.storage.board.currentWhiteHolder.y
       (click)="clickBall($event)"
       (contextmenu)="clearAll()"
  >
  </div>
</div>


<div class="player" id="p1">{{data.storage.p1.name}}</div>


