div {
  --size-cell: 62px;
  --border-cell: calc(var(--size-cell)/16);
  --nb-cell: 7;
  --size-piece: calc(var(--size-cell)*(3/4));
  --size-ball: calc(var(--size-piece)*(2/5));

}

.board{
  box-sizing: border-box;
  margin : 0 auto;
  position: relative;
  width: calc(var(--size-cell) * var(--nb-cell));
  height: calc(var(--size-cell) * var(--nb-cell));
  z-index: 1;
}

.tile{
  box-sizing: border-box;
  border: var(--border-cell) solid #66320e;
  background-color: saddlebrown;
  width: var(--size-cell);
  height: var(--size-cell);
  float: left;
  padding: 0;
  margin: 0;
}

.line{
  float: left;
}

.piece{
  box-sizing: border-box;
  position: absolute;
  width: var(--size-piece);
  height: var(--size-piece);
  border-radius: calc(var(--size-piece)/2);
  border: 1px solid red;
  padding: 0;
  margin: calc((var(--size-cell) - var(--size-piece))/2);
}

.ball{
  box-sizing: border-box;
  position: absolute;
  width: var(--size-ball);
  height: var(--size-ball);
  border-radius: calc(var(--size-ball)/2);
  z-index: 2;
  padding: 0;
  margin: calc((var(--size-cell))/2 - (var(--size-ball)/2));
}

.player{
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}

.selected {
  box-shadow: 0px 0px 20px 0 rgba(0, 255, 0, 1);
}

.playing {
  text-shadow: 0px 0px 10px rgba(255,140,0,1), 0px 0px 20px rgba(255,140,0,1), 0px 0px 30px rgba(255,140,0,1);
}



